pytz==2022.1
requests==2.27.1
python-dotenv==0.20.0
ipython==8.2.0

# Django
django
django-timezone-field==4.2.3
django-cors-headers==3.11.0
django-debug-toolbar==3.2.4
whitenoise==6.0.0

# Django 3.0 async requirements
gunicorn
uvicorn
uvloop
httptools==0.4.0

# Databases
psycopg2-binary==2.9.3
dj-database-url==0.5.0

# Distributed tasks
celery==5.2.6
redis==4.2.2
django-celery-beat==2.2.1

# Telegram
python-telegram-bot==13.11

# Nodes
paramiko==2.10.3
